{% extends "base.html" %}


{% block main %}
    <div class='login margin_top_80'>
        <h1>Sign In</h1>

        <form action='' method='post' novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.login.label }}<br>
                {{ form.login(size=35) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=35) }}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    </div>

{% endblock %}